h1 {text-align: center;
padding: 25px;}
h2, h3 {text-align: left;
padding: 25px;}
p {text-align: center;
padding: 25px;}
body {background-color: rgb(70, 89, 69);}
.policieswiki {width: 88%;
    background-color: rgb(251, 255, 251);
    text-decoration-color: rgb(29, 37, 29);
margin-right: auto;
margin-left: auto;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;}
.policy {text-align: left;}
.missionstatement {text-align: left;}
.item p {text-align: left;}