h1, p {text-align: center;}
body {background-color: gainsboro;}
.policieswiki {width: 95%;
    height: 50%;
    background-color: ghostwhite;
margin-right: auto;
margin-left: auto;}
.policy {text-align: left;}
.missionstatement {text-align: left;}
.item p {text-align: left;}