h1, p {text-align: center;}
body {background-color: gainsboro;}
.policieswiki {width: 80%;
    background-color: ghostwhite;
    margin-left: auto;
    margin-right: auto;}
.policy {text-align: left;
margin-left: auto;
margin-right: auto;
}
.missionstatement {text-align: left;
margin-left: auto;
margin-right: auto;}
.item p {text-align: left;
margin-left: auto;
margin-right: auto;}